<div id='invitation'> http://ylocalhost/party/<%= @room.id %></div>
<div id='videobox'>

</div>
<script src=”http://static.opentok.com/v0.91/js/TB.min.js&#8221; type=”text/javascript”></script>
<script type=”text/javascript”>
var apiKey = 44676442;
var sessionId = “<%= @room.sessionId %>”;
var token = “<%= @tok_token %>”;
var session;

TB.setLogLevel(TB.DEBUG);
//session.connect(apiKey, token);
var session = TB.initSession(sessionId);
session.addEventListener(‘sessionConnected’, sessionConnectedHandler);
session.addEventListener(‘streamCreated’, streamCreatedHandler);
session.connect(apiKey, token);

var publisher;
function sessionConnectedHandler(event) {
publisher = TB.initPublisher(apiKey, ‘videobox’);
session.publish(publisher);

// Subscribe to streams that were in the session when we connected
subscribeToStreams(event.streams);
}

function streamCreatedHandler(event) {
// Subscribe to any new streams that are created
subscribeToStreams(event.streams);
}

function subscribeToStreams(streams) {
for (var i = 0; i < streams.length; i++) {
// Make sure we don’t subscribe to ourself
if (streams[i].connection.connectionId == session.connection.connectionId) {
return;
}

// Create the div to put the subscriber element in to
var div = document.createElement(‘div’);
div.setAttribute(‘id’, ‘stream’ + streams[i].streamId);
document.body.appendChild(div);

// Subscribe to the stream
session.subscribe(streams[i], div.id);
}
}
</script>


<!DOCTYPE HTML>
<html>
  <head>
        
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" type="text/javascript" charset="utf-8"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          $("#link").attr('value',document.URL);
        })
      TB.addEventListener("exception", exceptionHandler);
      var session = TB.initSession("<%= @room.sessionId  %>"); // Replace with your own session ID. See https://dashboard.tokbox.com/projects
      session.addEventListener("sessionConnected", sessionConnectedHandler);
      session.addEventListener("streamCreated", streamCreatedHandler);
      session.connect( 44676442, "<%= @tok_token %>"); // Replace with your API key and token. See https://dashboard.tokbox.com/projects

      function sessionConnectedHandler(event) {
         subscribeToStreams(event.streams);
         session.publish();
      }
      
      function streamCreatedHandler(event) {
        subscribeToStreams(event.streams);
      }
      
      function subscribeToStreams(streams) {
        for (var i = 0; i < streams.length; i++) {
          var stream = streams[i];
          console.log(stream.connection.connectionId+"&"+session.connection.connectionId);
          if (stream.connection.connectionId != session.connection.connectionId) {
            session.subscribe(stream);
          }
        }
      }
      
      function exceptionHandler(event) {
        alert(event.message);
      }
      

    </script>

    </head>
    <body>
      <h1 style= "text-align: center">HealthNextGen</h1>
      
</html>
